<%- include("header_login_user.ejs") %>

<div class="middle">
    <% if (typeof msg !== 'undefined') { %>
        <h1><%= msg %></h1>
    <% } %>
    <form method="POST" action="/user/createuser">
        <label class="text-input" for="username">Username</label><br>
        <input class="user-login" id="username" name="username" type="text" placeholder="Username.."><br><br>
        <label class="text-input" for="password">Password</label><br>
        <input class="user-login" type="password" id="password" name="password" placeholder="Password.."><br><br>
        <label class="text-input" style="margin-left:-21.5em;" for="email">Email</label><br>
        <input class="user-login" type="email" id="email" name="email" placeholder="email@outlook.se"><br><br>
        <input class="user-button" type="submit" value="Skapa konto">
    </form>
</div>
<%- include("footer.ejs") %>
