<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Elsparkcyklar</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/user.css">
    </head>

    <ul>
        <li class="list" style="float:right"><a class="active" href="/user/logout">Logga ut</a></li>
        <li class="list"><a class="header-button" href="/user/details">Kontodetaljer</a></li>
        <li class="list"><a class="header-button" href="/user/history">Historik</a></li>
        <li class="list"><a class="header-button" href="/user/wallet">Plånbok</a></li>
    </ul><br>
    <div class="main">
    </div>
    <body>
