<%- include("header_user.ejs") %>


<div class="title">Historik</div>

<table class="table-history" id="history">
    <tr class="tr-history">
        <th class="th-history">Datum</th>
        <th class="th-history">Startpunkt</th>
        <th class="th-history">Slutpunkt</th>
        <th class="th-history">Sträcka (km)</th>
        <th class="th-history">Tid (min)</th>
        <th class="th-history">Kostnad (kr)</th>
    </tr>
    <tr class="tr-history">
        <td class="td-history">01-01-23</td>
        <td class="td-history">Stortorget 1</td>
        <td class="td-history">Alamedan 20</td>
        <td class="td-history">0.4</td>
        <td class="td-history">2</td>
        <td class="td-history">100</td>
    </tr>
    <tr class="tr-history">
        <td class="td-history">02-02-23</td>
        <td class="td-history">Lambrogatan 19</td>
        <td class="td-history">Storgatan 2</td>
        <td class="td-history">2</td>
        <td class="td-history">10</td>
        <td class="td-history">300</td>
    </tr>
    <tr class="tr-history">
        <td class="td-history">03-03-23</td>
        <td class="td-history">Skovägen 14</td>
        <td class="td-history">Varvsmuren 8</td>
        <td class="td-history">1.3</td>
        <td class="td-history">7</td>
        <td class="td-history">254</td>
    </tr>
    <tr class="tr-history">
        <td class="td-history">10-10-23</td>
        <td class="td-history">Ekholmen 6</td>
        <td class="td-history">Fisktorget 1</td>
        <td class="td-history">0.7</td>
        <td class="td-history">3.5</td>
        <td class="td-history">145</td>
    </tr>
    <tr class="tr-history">
        <td class="td-history">11-11-23</td>
        <td class="td-history">Hamngatan 21</td>
        <td class="td-history">Stortorget 1</td>
        <td class="td-history">4.2</td>
        <td class="td-history">14.3</td>
        <td class="td-history">450</td>
    </tr>
</table>

<%- include("footer.ejs") %>