<%- include("header_user.ejs") %>

<div class="title">Plånbok</div>

<div class="middle">
    <a class="wallet-button" href="/user/prepaid">Prepaid</a>
    <br><br><br><br>
    <a class="wallet-button" href="/user/autogiro">Autogiro</a>
</div>

<%- include("footer.ejs") %>