<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Elsparkcyklar</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/mobile.css">
    </head>
    <ul>
        <!-- <li class="list" style="float:right"><a class="active" href="/userlogin">Logga ut</a></li> -->
        <li class="list"><span class="menu" onclick="openNav()">&#9776;</span></li>
        <li class="menu-text">Elsparkcyklar AB - Mobil</li>
    </ul><br><br><br>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/mobile/rent" onclick="closeNav()">Hyr</a>
        <a href="/mobile/returnbike">Returnera</a>
        <a href="/mobile/parking">Stationer<br>Parkering</a>
        <a href="/mobile/freebikes">Lediga</a>
        <a  style="white-space: nowrap;" href="/mobile/mobilelogin">Logga ut</a>
    </div>
    <!-- <div style="height: 100vh; position: absolute;" onclick="closeNav()"></div> -->
    
    
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <!-- <ul>
        <li class="list" style="float:right"><a class="active" href="/userlogin">Logga ut</a></li>
        <li class="list"><a class="header-button" href="/details">Hyr cykel</a></li>
        <li class="list"><a class="header-button" href="/details">Returnera cykel</a></li>
        <li class="list"><a class="header-button" href="/history">Laddstationer/Parkeringszoner</a></li>
        <li class="list"><a class="header-button" href="/wallet">Lediga cyklar</a></li> -->
    <!-- </ul><br> --> 
    <div class="main">
    </div>
    <body>

