<%- include("header_mobile.ejs") %>


<div class="title">För att hyra ange cykelns ID</div>

<div class="middle">
    <form action="/mobile/returnbike">
        <label class="give-bikeid" for="fname">Cykel-ID</label><br><br>
        <input class="text-rent" type="number" required><br>
        <input class="rent-button" type="submit" value="Hyr">
    </form>
</div>


<%- include("footer.ejs") %>