<%- include("extended_header.ejs") %>



<div class="middle">
    <% if (typeof msg !== 'undefined') { %>
        <h1><%= msg %></h1>
    <% } %>
    <form method="POST" action="/mobile/rent">
        <label class="give-bikeid" for="returnera_cykel">Cykel-ID</label><br><br>
        <input name="rent" value="lock" hidden>
        <input class="rent-button" type="submit" value="Returnera cykel">
    </form>
</div>


<%- include("footer.ejs") %>