<%- include("header_login_admin.ejs") %>

<div class="middle">
    <form class="user-input" action="admin">
        <label class="text-input" for="fname">Username</label><br>
        <input class="admin-login" type="text" placeholder="Username.."><br><br>
        <label class="text-input" for="lname">Password</label><br>
        <input class="admin-login" type="text" placeholder="Password.."><br><br>
        <input class="admin-button" type="submit" value="Logga in">
    </form>
    <br><br><br>
</div>
<%- include("footer.ejs") %>