<%- include("header_admin.ejs") %>

<div class="title">Cyklar</div>

<table class="table-bike" id="bikes">
    <tr class="tr-bike">
        <th class="th-bike">ID</th>
        <th class="th-bike">Position</th>
        <th class="th-bike">Status</th>
        <th class="th-bike">Station</th>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">1</td>
        <td class="td-bike">Longitude: 18.0686<br>
            Latitude: 59.3293</td>
        <td class="td-bike">Available</td>
        <td class="td-bike">2</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">2</td>
        <td class="td-bike">Longitude: 13.0007<br>
            Latitude: 55.6050</td>
        <td class="td-bike">In Use</td>
        <td class="td-bike">1</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">1</td>
        <td class="td-bike">Longitude: 18.0686<br>
            Latitude: 59.3293</td>
        <td class="td-bike">Available</td>
        <td class="td-bike">2</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">2</td>
        <td class="td-bike">Longitude: 13.0007<br>
            Latitude: 55.6050</td>
        <td class="td-bike">In Use</td>
        <td class="td-bike">1</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">1</td>
        <td class="td-bike">Longitude: 18.0686<br>
            Latitude: 59.3293</td>
        <td class="td-bike">Available</td>
        <td class="td-bike">2</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">2</td>
        <td class="td-bike">Longitude: 13.0007<br>
            Latitude: 55.6050</td>
        <td class="td-bike">In Use</td>
        <td class="td-bike">1</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">1</td>
        <td class="td-bike">Longitude: 18.0686<br>
            Latitude: 59.3293</td>
        <td class="td-bike">Available</td>
        <td class="td-bike">2</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">2</td>
        <td class="td-bike">Longitude: 13.0007<br>
            Latitude: 55.6050</td>
        <td class="td-bike">In Use</td>
        <td class="td-bike">1</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">1</td>
        <td class="td-bike">Longitude: 18.0686<br>
            Latitude: 59.3293</td>
        <td class="td-bike">Available</td>
        <td class="td-bike">2</td>
    </tr>
    <tr class="tr-bike">
        <td class="td-bike">2</td>
        <td class="td-bike">Longitude: 13.0007<br>
            Latitude: 55.6050</td>
        <td class="td-bike">In Use</td>
        <td class="td-bike">1</td>
    </tr>
</table>

<%- include("footer.ejs") %>