<%- include("header_admin.ejs") %>

<div class="title">Städer</div>

<div class="table-explainer">Stockholm</div>

<table class="table-station" id="customers">
    <tr class="tr-station">
        <th class="th-station">Station</th>
        <th class="th-station">Tillgängliga cyklar (st)</th>
        <th class="th-station">Placera cykel (ID)</th>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Stockholm Södra</td>
        <td class="td-station">2</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Stockholm Norra</td>
        <td class="td-station">5</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Stockholm Östra</td>
        <td class="td-station">9</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Stockholm Västra</td>
        <td class="td-station">21</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
</table>

<div class="table-explainer">Malmö</div>

<table class="table-station" id="customers">
    <tr class="tr-station">
        <th class="th-station">Station</th>
        <th class="th-station">Tillgängliga cyklar (st)</th>
        <th class="th-station">Placera cykel (ID)</th>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Malmö Södra</td>
        <td class="td-station">0</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Malmö Norra</td>
        <td class="td-station">7</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Malmö Östra</td>
        <td class="td-station">19</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">Malmö Västra</td>
        <td class="td-station">20</td>
        <td class="td-station"><form>
            <input class="add-bike" type="text">
        </form></td>
    </tr>
</table>

<%- include("footer.ejs") %>