<%- include("header_admin.ejs") %>


<div class="title">Kunder</div>

<table class="table-customer" id="customers">
    <tr class="tr-customer">
        <th class="th-customer">User</th>
        <th class="th-customer">Role</th>
        <th class="th-customer">Email</th>
        <th class="th-customer">Position</th>
        <th class="th-customer">Wallet</th>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
    <tr class="tr-customer">
        <td class="td-customer">alice_jones</td>
        <td class="td-customer">user</td>
        <td class="td-customer">alice.jones@email.com</td>
        <td class="td-customer">Longitude: 12.345<br>
            Latitude: 34.567</td>
        <td class="td-customer">100.00</td>
    </tr>
</table>

<%- include("footer.ejs") %>