<!DOCTYPE html>
<html lang="en">

    <head>
        <title>EDUCATION</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/admin.css">
    </head>
    <ul>
        <li class="list" style="float:right"><a class="active" href="/admin/adminlogin">Logga ut</a></li>
        <li class="list"><a href="/admin/cities">Städer</a></li>
        <li class="list"><a href="/admin/customers">Kunder</a></li>
        <li class="list"><a href="/admin/bikes">Cyklar</a></li>
        <li class="list"><a href="/admin/stations">Stationer</a></li>
        <li class="list"><a href="/admin/overview">Översikt</a></li>
    </ul><br>
    <div class="main">
    </div>
    <body>
