<%- include("header_admin.ejs") %>

<div class="title">Stationer</div>

<div class="table-explainer">Stockholm Södra: 8st cyklar</div>

<table class="table-station" id="customers">
    <tr class="tr-station">
        <th class="th-station">Cykel</th>
        <th class="th-station">Batteri</th>
        <th class="th-station">Status</th>
    </tr>
    <tr class="tr-station">
        <td class="td-station">1</td>
        <td class="td-station">100%</td>
        <td class="td-station">Ledig</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">2</td>
        <td class="td-station">0%</td>
        <td class="td-station">Laddas</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">3</td>
        <td class="td-station">95%</td>
        <td class="td-station">Ledig</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">4</td>
        <td class="td-station">0%</td>
        <td class="td-station">Undehåll</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">5</td>
        <td class="td-station">100%</td>
        <td class="td-station">Ledig</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">6</td>
        <td class="td-station">0%</td>
        <td class="td-station">Laddas</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">7</td>
        <td class="td-station">95%</td>
        <td class="td-station">Ledig</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">8</td>
        <td class="td-station">0%</td>
        <td class="td-station">Undehåll</td>
    </tr>
</table>

<div class="table-explainer">Malmö Östra: 4st cyklar</div>

<table class="table-station" id="customers">
    <tr class="tr-station">
        <th class="th-station">Cykel</th>
        <th class="th-station">Batteri</th>
        <th class="th-station">Status</th>
    </tr>
    <tr class="tr-station">
        <td class="td-station">9</td>
        <td class="td-station">100%</td>
        <td class="td-station">Ledig</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">10</td>
        <td class="td-station">0%</td>
        <td class="td-station">Laddas</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">11</td>
        <td class="td-station">95%</td>
        <td class="td-station">Ledig</td>
    </tr>
    <tr class="tr-station">
        <td class="td-station">12</td>
        <td class="td-station">0%</td>
        <td class="td-station">Undehåll</td>
    </tr>
</table>

<%- include("footer.ejs") %>